* {
    box-sizing: border-box;
}

body {

    font-family: 'Calibri', Times, serif;
    margin: 0;
    background-color: #000000bb;
}

header {
    position: fixed;
    width: 100%;
    background-color: #ffbf00;
    top: 0;
    right: 0;
    left: 0;
    height: 85px;
    z-index: 2;
}

#logo {
    display: block;
    float: left;
}

header img {
    transition: transform .2s;
    height: 85px;
}

header img:hover {
    transform: scale(1.1);
}

/*makes main not overlap with the fixed header*/
main {
    text-align: center;
    margin-top: 150px;
    width: 100%;
}

/*styles the footer*/
footer {
    overflow: hidden;
    width: 100%;
    clear: left;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #ffbf00;
}

/*makes the images pop up when hovering the mouse over it*/
footer img {
    transition: transform .1s;
}

/*makes the images pop up when hovering the mouse over it*/
footer img:hover {
    transform: scale(1.1);
}

/*makes the about us black instead of blue*/
footer a {
    color: black;
}

/*removes the blue line from the images*/
.social a {
    color: black;
    text-decoration: none;
}


/* Style for the navigation menu */
nav ul {
    list-style: none;
    padding: 10px;
}

nav li {
    display: inline;
    position: relative;
    margin-top: 15px;
    font-size: 20px;
    font-weight: bold;
    padding: 5px;
    border-radius: 5px 5px 10px 5px;
}

/* Style for the links in the menu */
nav a {
    text-decoration: none;
    color: black;
    padding: 15px;
    border-radius: 5px 5px 30px 5px;
    margin-left: 5px;
    transition: all 0.15s ease-in-out 0.05s;
}

/* Style for the links in the menu */
nav a:hover {
    background-color: #ffffff;
    transition: all 0.15s ease-in-out 0.05s;
    opacity: 1
}

/* Display subcategories when hovering over the list item */
nav li:hover>ul {
    display: block;
}

/* Style for the subcategories(same as the links) */
.sub-category>li:hover {
    background-color: #ffffff;
    transition: all 0.15s ease-in-out 0.05s;
    opacity: 1;
}

/* Style for subcategories and position subcategories below the  list ,at the same level*/
.sub-category {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #ffbf00;
    padding: 5px 0 5px 0;
    margin-top: 10px;
}


/* Style for sublist of subcategories and position sublist to the right of subcategory*/
.sub-sub-category {
    display: none;
    position: absolute;
    top: -20px;
    left: 100%;
    background-color: #ffbf00;
    padding: 5px;
    white-space: nowrap;
}

/* Display sublist of subcategories when hovering over the subcategory */
.sub-category li:hover>ul {
    display: block;
}

/* Style for submenu items */
.sub-category li {
    display: block;
    clear: both;
    width: 100%;
}

/* Style for submenu links */
.sub-category li a {
    padding: 5px;
}

.welcome {
    margin-bottom: 50px;
}

/* styles the welcome text on the main page*/
.welcome p{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 22px;
    margin:10px;
}

.welcome span{
    font-size: 35px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-variant: small-caps;
}

/*styles the different divs like categories or listings*/
.postit {
    background-color: #ffbf00;
    width: 600px;
    float: left;
    border-radius: 10px 10px 80px 10px;
    transition: transform .2s;
    margin: 20px 4%;
    padding-bottom: 10px;
    box-shadow: rgb(51, 51, 51) 10px 10px 30px;
}

.postit h2 {
    color: rgb(17, 1, 1);
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin: 0;
    background: linear-gradient(to bottom, #ffbf00, #d19d00);
    font-weight: bolder;
    font-style: italic;
    border-radius: 10px 10px 0px 0px;

}

.postit p {
    font-size: 1.4em;
    margin: 5px;
}

.postit a {
    text-decoration: none;
    white-space: nowrap;
    font-size: 25px;
    color: #000000;
}

/*makes the listing hover*/
.postit:hover {
    transform: scale(1.02);
    box-shadow: black 20px 20px 30px;
}

.postit img {
    width: 450px;
    height: 250px;
    border-radius: 10px;
}

.postit h3 {
    font-size: 1em;
    font-style: italic;
    font-weight: bold;
    white-space: wrap;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 40px;
    color: rgb(255, 255, 255);
    color: #000000;
    font-style: italic;
    text-align: center;
    white-space: nowrap;
    width: auto;
    background: #ffbf00;
    margin: 2px 0 0 0;
    border-radius: 0px 0px 30px 30px;
    padding: 0px 40px 5px 40px;
    position: fixed;
    top: 110px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.submenu {
    font-size: 25px;
    font-weight: bold;
    text-align: left;
    padding: 10px 10px 30px 5px;
}

.submenu a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.submenu a:hover {
    color: #ffbf00;
}

#categories .postit {
    width: 900px;
    padding: 0;
    margin: 10px;
}

#categories .postit img {
    float: left;
    border-radius: 0px 0px 0px 10px;
}


#categories .postit ul {
    margin: 0;
    padding: 10px;
    margin-top: 25px;
}

#categories .postit li::before {
    content: "→";
    font-weight: bold;
    font-size: 20px;
}

#categories .postit li:hover {
    transform: scale(1.02);
}


#articles .postit img {
    height: 300px;
    margin-top: 20px;
}

#articles{
    margin-top: 84px;
}

#articles .postit #link::before {
    content: "→";
    margin-right: 10px;
    font-weight: bold;
    font-size: 15px;
}

.postit #highlight {
    font-weight: bold;
}

#products{
    margin-top: 84px;
}

#products p {
    font-size: 1.4em;
    margin: 20px 5px;
    color: #ffffff;
    text-align: center;
}

#products h2 {
    color: rgb(17, 1, 1);
    font-size: 2em;
    text-align: center;
    padding: 10px;
    margin: 0;
    background: #ffbf00;
    font-weight: bolder;
}

#products table {
    margin: 10px auto;
    border-collapse: collapse;
    width: auto;
    color: #000000;
    font-size: 25px;
    text-align: center;
    table-layout: auto;
    box-shadow: rgb(51, 51, 51) 10px 10px 10px;
    border: 2px solid black;
}

#products th {
    margin: 10px;
    padding: 10px 40px;
    font-size: 1.2em;
    font-weight: bold;
}

#products td {
    padding: 10px 15px 10px 15px;
}

#products tr:nth-child(even) {
    background-color: #ffffff;
}

#products tr:nth-child(odd) {
    background-color: #ffbf00;
}

#products .link {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.8em;
}

#products .link::before {
    content: "→";
    margin-right: 5px;
    font-weight: bold;
    font-size: 0.8em;
}

#products .link:hover {
    color: #ffcd38;
}

#products img {
    width: 450px;
    height: 300px;
    border-radius: 20px;
    box-shadow: rgb(51, 51, 51) 10px 10px 10px;
}

#aboutus .postit {
    border-radius: 10px 10px 60px 60px;
}

#aboutus .postit h3 {
    font-size: 1.7em;
    font-style: italic;
    color: rgb(0, 0, 0);
}

#aboutus .postit img {
    width: 350px;
    height: 400px;
    border-radius: 20px;
    box-shadow: rgb(51, 51, 51) 10px 10px 10px;
    margin-top: 20px;
}

#aboutus .postit p {
    font-size: 1.4em;
    margin: 5px;
}

#aboutus .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px 0px;
    color: white;
    font-size: 1.3em;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 80%;
    border-radius: 50px;
    margin: 0px;
}

#aboutus .button:hover {
    background-color: #555;
}

.tech {
    color: rgb(247, 247, 247);
    text-align: center;
}

.tech div {
    font-size: 27px;
}

.tech img {
    width: 800px;
    height: 400px;
    margin: 0 3% 5% 3%;
    border-radius: 20px;
    box-shadow: rgb(51, 51, 51) 10px 10px 10px;
}

.tech form {
    text-align: left;
    color: rgb(0, 0, 0);
    background-color: #ffbf00;
    outline-style: none;
    float: left;
    width: 800px;
    border-radius: 20px;
    height: 400px;
    margin: 0 3% 5% 3%;
    padding-top: 10px;
    font-size: 27px;
    box-shadow: rgb(51, 51, 51) 10px 10px 10px;
}

.tech form h2 {
    text-align: center;
    font-size: 34px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 5px;
}

.tech form label {
    margin-left: 40px;
}

.tech input {
    border-radius: 10px;
}

.tech textarea {
    border-radius: 10px;
}

.tech form textarea {
    margin-left: 40px;
}

.tech #submit {
    margin-left: 40px;
}

.tech form p {
    display: inline;
}

.tech form p:last-child {
    font-size: 18px;
}